/* FONTS */
@font-face {
  font-family: Hey;
  src: url("../police/Hey Comic.ttf");
}
@font-face {
  font-family: Adelia;
  src: url("../police/ADELIA.otf");
}
  
  body, html, header, h1 {
    margin: 0px;
    padding: 0px;
  }
  
header, body, html {
    width: 100%;
    height: 100%;
  }
header {
    background: url(../img/0.jpg) no-repeat center center;
    background-size: cover;
}
a {

    font-family: ADELIA;
    font-size: 25px;
    color: rgb(233, 240, 235);
    padding: 10px;
    margin: 10px;
    background-color: #788174;
    border-radius: 20px;
    text-decoration: none;
  }

  /* BOUTON REJOUER */
  .rejouerBouton{
    border: 0px solid white;
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border: 0px solid white;
  }

  button:hover{
    background-color: #989c6b;
  }


#OG {
    /* display: flex;
     flex-direction: column;
     align-items: center; */
    border: 0px solid white;
    width:100%;
    /* margin-top:  */
    
}
p {
  font-family: Hey;
  font-size: 3rem;
  color: antiquewhite;   
}

.titre_responsive { 
  display : flex;
  flex-direction : column;
  align-items : center;   
  justify-content:center;
  padding-top: 0%;
  font-family: Hey;
  font-size: 10px;
  color: #989c6b; 
  text-shadow: 1px 1px 10px black;
  border: 0px solid white;
}  


#contenaireGlobal {

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border: 0px solid white;
}

#idContainer {
  display: table-cell;
  text-align: center;
  /* vertical-align: middle; */
  height: 150px;
  width: 850px;
  margin-top: 0%  ;
  padding: 10% -10% 0 300px;
  border: 0px solid white;
}
#msgWin { 
  width: 100%;
}
/*  ---------------------------- MEDIA QUERIES --------------------------- */

@media screen and (max-width: 1028px) {
  /* header {
    background: url("../img/0.accueil-responsive.1.jpg") no-repeat center center;
    background-size: cover;  
  } */
  h1 {
    font-family: Hey;
    color: white;
    font-size: 30px;
  }

  /* p {
    font-size:70px;
  } */

  label {
    font-family: Hey;
    color: whitesmoke;
    font-size: 25px;
    text-align: left;
  }

  #idContainer {
    display: table-cell;
    text-align: center;
    /* vertical-align: middle; */
    height: 150px;
    width: 850px;
    margin-top: 0%  ;
    padding: 10% -10% 0 10px;
    border: 0px solid white;
  }
  .titre_responsive { 
    display : flex;
    flex-direction : column;
    align-items : center;   
    justify-content:center;
    padding-top: 0px;
    font-family: Hey;
    font-size: 40px;
    color: #989c6b;   
  }
}

/*  ---------------------------- MEDIA QUERIES :: 747px --------------------------- */

@media screen and (max-width: 747px) { 
  #idContainer {
    margin-top: 0px;   
  }

  header {
    background: url("../img/0.accueil-responsive.1.jpg") no-repeat center center;
    background-size: cover;  
  }

  h1 {
    font-family: Hey;
    color: white;
    font-size: 30px;
  }

  p {
    font-size:50px;
  }

  label {
    font-family: Hey;
    color: whitesmoke;
    font-size: 25px;
    text-align: left;
  }
  .titre_responsive { 
    display : flex;
    flex-direction : column;
    align-items : center;   
    justify-content:center;
    padding-top: 3%;
    font-family: Hey;
    font-size: 10px;
    color: #989c6b;   
  }
  #idContainer {
    margin-top: 5%;   
  }  
}
/*  ---------------------------- MEDIA QUERIES :: 590px --------------------------- */

 @media screen and (min-width: 590px) and (max-width: 746px)  { 
  #idContainer {
    margin-top: 3%;   
  }

  header {
    background: url("../img/0.accueil-responsive.1.jpg") no-repeat center center;
    background-size: cover;  
  }

  h1 {
    font-family: Hey;
    color: white;
    font-size: 2rem;
  }

  p {
    font-size:45px;
  }

  label {
    font-family: Hey;
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: left;
  }
  .titre_responsive { 
    display : flex;
    flex-direction : column;
    align-items : center;   
    padding-top: 10%;
    font-family: Hey;
    font-size: 3rem;
    color: #989c6b;   
  }
  
} 


/*  ---------------------------- MEDIA QUERIES :: 409px --------------------------- */

@media screen and (min-width: 409px) and (max-width: 589px ) { 
  /* #idContainer {
    margin-top: 2%;   
   
  } */

  
#idContainer {
  display: table-cell;
  text-align: center;
  /* vertical-align: middle; */
  height: 150px;
  width: 850px;
  margin-top: 0%;
  padding: 10% -10% 0 300px;
  border: 0px solid white;
}

  header {
    background: url("../img/0.accueil-responsive.1.jpg") no-repeat center center;
    background-size: cover;  
  }

  h1 {
    font-family: Hey;
    color: white;
    font-size: 28px;
    text-shadow: rgb(88, 192, 57) 1px 0 10px;
  }

  p {
    font-size: 3rem;
  }

  label {
    font-family: Hey;
    color: whitesmoke;
    font-size: 1.9rem;
    text-align: left;
  }

  .titre_responsive { 
    display : flex;
    flex-direction : column;
    align-items : center;   
    padding-top: 15%;
    font-family: Hey;
    font-size: 2rem;
    color: #989c6b; 
  }
  
#msgWin { 
  width: 100%;
  margin: 0 30px 0 20px;
}
} 

/*  ---------------------------- MEDIA QUERIES :: 308px and 408 --------------------------- */

@media screen and (min-width: 308px) and (max-width: 408px) { 
  #idContainer {
    margin: 0%; 
    
  }
  

  header {
    background: url("../img/0.accueil-responsive.1.jpg") no-repeat center center;
    background-size: cover;  
  }
  h1 {
    font-family: Hey;
    color: white;
    font-size: 26px;
  }

  p {
    font-size: 30px;
  }

  label {
    font-family: Hey;
    color: whitesmoke;
    font-size: 1.9rem;
    text-align: left;
  }

  .titre_responsive { 
    display : flex;
    flex-direction : column;
    align-items : center;   
    padding-top: 40%;
    font-family: Hey;
    font-size: 28px;
    color: #989c6b; 
  }
  
} 

/*  ---------------------------- MEDIA QUERIES :: 308px --------------------------- */

@media screen and (min-width: 220px) and (max-width: 307px) { 
  #idContainer {
    margin-top: 0%;  
  }
  

  header {
    background: url("../img/0.accueil-responsive.1.jpg") no-repeat center center;
    background-size: cover;  
  }
  h1 {
    font-family: Hey;
    color: white;
    font-size: 0.9rem;
  }

  p {
    font-size: 1.5rem;
  }

  label {
    font-family: Hey;
    color: whitesmoke;
    font-size: 1rem;
    text-align: left;
  }

  #idContainer {
    display: table-cell;
    text-align: center;
    /* vertical-align: middle; */
    height: 150px;
    width: 250px;
    margin-top: 0%  ;
    padding: 1% 0 0 300px;
    border: 0px solid white;
  }


/*------------------ titre jeu du pendu ------------- */
p {
  font-size: 4rem;
}

.titre_responsive { 
  display : flex;
  flex-direction : column;
  align-items : center;   
  justify-content:center;
  padding-top: 3%;
  font-family: Hey;
  font-size: 10px;
  color: #989c6b; 
  text-shadow: 1px 1px 10px black;
}  
  
button {

  font-family: ADELIA;
  font-size: 1rem;
  color: rgb(233, 240, 235);
  padding: 0.8rem;
  margin: 0.8rem;
  background-color: #788174;
  border-radius: 7px;
}
  
} 

